<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.subway.com/en-GB/ContactUs/GuestCare" class="nav-link px-2 text-muted text-light">Contact Us</a></li>
      <li class="nav-item"><a href="https://www.facebook.com/SubwayUK" class="nav-link px-2 text-muted" target="_blank">Social</a></li>
      <li class="nav-item"><a href="https://www.subway.com/en-GB/Careers" class="nav-link px-2 text-muted">Career</a></li>
    </ul>
    <p class="text-center text-muted">SUBWAY® is a Registered Trademark of Subway IP LLC.<br>© 2023 Subway IP LLC.<br>All Rights Reserved.</p>
  </footer>
</div>


</body>
</html>