
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" style ="color:green"href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
      </li>



        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Items</a>
    <ul class="dropdown-menu"><li><a class="dropdown-item" href="{% url 'item_view' %}">View</a></li>
      <li><a class="dropdown-item" href="{% url 'item_add' %}">Add</a></li>
      <li><a class="dropdown-item" href="{% url 'item_update' %}">Update</a></li>
      <li><a class="dropdown-item" href="{% url 'item_delete' %}">Delete</a></li>
    </ul>
  </li>
                <li class="nav-item">
        <a class="nav-link" href="{% url 'order' %}">Order</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>


    </ul>

  </div>


    <div>

        {% if anonymous %}
            <button class="btn btn-secondary">Hello, Guest</button>
        <a href="{% url 'Login' %}" class="btn btn-primary" type="submit">Login</a>
        {% else %}
            <button class="btn btn-secondary">Hello, {{ request.user.username }}</button>
        <a href="{% url 'Logout' %}" class="btn btn-primary" type="submit">Logout</a>
        {% endif %}
    </div>

</nav>
