
{% extends 'base.html' %}
 {% load static %}
{% block content %}
    <div>
        <h1 style="color:green" class="border-bottom">The History of Subway®</h1>
    </div>

    <div>
    <h3 style="color:green" >The Subway® Story</h3>

    </div>

    <div style="padding-bottom:5px;">
    The Subway® story began in 1965 when 17-year-old Fred DeLuca asked his family friend, Dr. Peter Buck,<br>
        a nuclear physicist, for advice on how to pay his college tuition. With an idea to open a submarine sandwich shop<br>
        and an initial $1,000 investment from Dr. Buck, the two formed a business partnership that would ultimately change the<br> landscape of the quick service restaurant industry. <br> <br>The partners opened their first restaurant in Bridgeport, Connecticut, in August of 1965, where <br>they served freshly made, customisable and affordable sandwiches to local guests. <br><br>By 1974, Fred and Dr. Buck owned and operated 16 submarine sandwich shops throughout Connecticut. <br>But, to take the brand even further and reach their 32-restaurant goal in time, the pair decided to begin<br> franchising — a business model that launched the Subway® brand into a period of incredible growth and popularity. <br>
  </div>

    <div>
    <img src="{% static 'images/img.png' %}" alt="subway image" ><br>
    </div>

    <div>
    <br>
     <img src="{% static 'images/img_1.png' %}" alt="subway image" height="auto" width="625">
    </div>



    <div>
        <h3 style="color:green">Guiding Principles</h3>
    </div>

    <div>
        <p>As the Subway® brand grew over the decades, Fred and Dr. Buck remained true to three core values and principles, which still guide the brand to this day: <br>●	Always provide exceptional service to valued guests <br>●	Offer high-quality, flavourful menu options at a great value <br>●	Never stop evolving to improve the Subway® brand <br></p>
  </div>
    <div>
    <br>
    <img src="{% static 'images/img_2.png' %}" alt="subway image" height="auto" width="625" ><br>
    </div>

    <div>
    <h3 style="color:green">Subway® Today</h3>
    </div>

    <div>
    <p>
    Today, Subway® has grown to become one of the world’s largest restaurant brands, serving customisable and signature sandwiches,<br> wraps and salads to millions of guests, across more than 100 countries in nearly 37,000 restaurants every day. <br>Subway® restaurants are owned and operated by Subway® franchisees – a network that includes more than 20,000 <br>dedicated entrepreneurs and small business owners – who are all committed to delivering the best guest experience possible in their local communities.
    </p>
    </div>





{% endblock %}