{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="row">
        <div class="col-sm-3">

                <h1 class="h1">Sandwiches</h1>

                {% for d in data %}
                        {% if d.type == "sandwich" %}
                                <div class="card" style="width: 15rem">
                              <img src="/{{ d.picture }}" class="card-img-top" >
                              <div class="card-body">
                                <h5 class="card-title">{{ d.name }}</h5>
                                <p class="card-text">{{ d.info }}</p>
                                  <form action="{% url 'orderadd' %}" method="POST">
                                      {% csrf_token %}
                                      <input hidden type="text" name = "product" value="{{ d.id }}">
                                      <input type="submit" class="btn btn-primary" value="Add to Order">
                                  </form>

                              </div>
                            </div>
                            <br>
                    {% endif %}
            {% endfor %}

        </div>





        <div class="col-sm-3">

                <h1 class="h1">Melts</h1>

                {% for d in data %}
                        {% if d.type == "melt" %}
                                <div class="card" style="width: 15rem">
                              <img src="/{{ d.picture }}" class="card-img-top" >
                              <div class="card-body">
                                <h5 class="card-title">{{ d.name }}</h5>
                                <p class="card-text">{{ d.info }}</p>
                                  <form action="{% url 'orderadd' %}" method="POST">
                                      {% csrf_token %}
                                      <input hidden type="text" name = "product" value="{{ d.id }}">
                                      <input type="submit" class="btn btn-primary" value="Add to Order">
                                  </form>
                              </div>
                            </div>
                            <br>
                    {% endif %}
            {% endfor %}

        </div>


            <div class="col-sm-3">

                <h1 class="h1">Drinks</h1>

                {% for d in data %}
                        {% if d.type == "drink" %}
                                <div class="card" style="width: 15rem">
                              <img src="/{{ d.picture }}" class="card-img-top" >
                              <div class="card-body">
                                <h5 class="card-title">{{ d.name }}</h5>
                                <p class="card-text">{{ d.info }}</p><form action="{% url 'orderadd' %}" method="POST">
                                      {% csrf_token %}
                                      <input hidden type="text" name = "product" value="{{ d.id }}">
                                      <input type="submit" class="btn btn-primary" value="Add to Order">
                                  </form>
                              </div>
                            </div>
                            <br>
                    {% endif %}
            {% endfor %}

        </div>





        <div class="col-sm-3">

                <h1 class="h1-secondary">Crisps</h1>

                {% for d in data %}
                        {% if d.type == "crisp" %}
                                <div class="card" style="width: 15rem">
                              <img src="/{{ d.picture }}" class="card-img-top" >
                              <div class="card-body">
                                <h5 class="card-title">{{ d.name }}</h5>
                                <p class="card-text">{{ d.info }}</p>
                                <a href="#" class="btn btn-primary">Add to Order</a>
                              </div>
                            </div>
                            <br>
                    {% endif %}
            {% endfor %}

        </div>
    </div>



















{% endblock %}